.header{
     position: absolute;
     z-index: 70;
     right:5px ;
     top : 4px;
     left: 5px;
     width: 92%;
     .menu{
         width: 100%;
         height: 100%;
         background-color:#5b5b5b60;
         backdrop-filter: blur(60px);
         border-radius: 10px;
         position: relative;
     }
 }